<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Об авторе</title>
</head>
<body>
  <header style="margin-left: 250px; font-size:20px;">
    <center>
      <h1 style="position: relative; ">Об авторе</h1>
    </center>
  </header>
  <nav>
    <ul style="position: fixed; height: 100%; background: #E6E6FA; top:-15px; left: 0; width: 200px;">
      <p></p>
      <li><a href="index.html" style="font-size: 20px; ">Главная</a></li>
      <li><a href="importance.html" style="font-size: 20px; ">Востребованность</a></li>
      <li><a href="geography.html" style="font-size: 20px">География</a></li>
      <li><a href="skills.html" style="font-size: 20px">Навыки</a></li>
      <li><a href="spinner.html" style="font-size: 20px">Последние вакансии</a></li>
    </ul>
  </nav>
  <main style="margin-left:250px; font-size:20px;">
    {% for mod in AboutAuthor %}
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mod.text}}</p>
      <p>Контакты: <a href="mailto:{{mod.email}}">{{mod.email}}</a></p>
      <p>Ссылка на репозиторий с проектом: <a href="{{mod.url}}">{{mod.url}}</a></p>
    {% endfor %}
  </main>
  <footer style="margin-left: 250px; position: absolute; left: 0; bottom: 0; height: 50px;">
    <div style="font-size: 20px;">Студент: Ребак Анна Дмитриевна</div>
    <div style="font-size: 20px;">Группа: РИ-220931</div>
  </footer>
</body>
</html>