<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Последние вакансии</title>
</head>
<body>
  <header style="margin-left: 250px; font-size:20px;">
      <h1 style="position: relative;" align="center">Профессия Android-разработчик / Последние вакансии</h1>
  </header>
  <nav>
    <ul style="position: fixed; height: 100%; background: #E6E6FA; top:-15px; left: 0; width: 200px;">
      <p></p>
      <li><a href="index.html" style="font-size: 20px; ">Главная</a></li>
      <li><a href="importance.html" style="font-size: 20px; ">Востребованность</a></li>
      <li><a href="geography.html" style="font-size: 20px">География</a></li>
      <li><a href="skills.html" style="font-size: 20px">Навыки</a></li>
      <li><a href="spinner.html" style="font-size: 20px">Последние вакансии</a></li>
      <li style="padding-top: 530px;"><a href="about.html" style="font-size: 20px">Об авторе</a></li>
    </ul>
  </nav>
  <main style="margin-left:250px; font-size:20px;">
    {% for vac in GetHHVacancies %}
      <table border="1" width="1000" height="300" align="center"  style="text-align: center;">
        <tr>
          <td colspan="2" align="center" height="35" style="font-weight:bold;"><a href="{{vac.7}}">{{vac.0}}</a></td>
        </tr>
        <tr>
          <td>Оклад:&nbsp;{{vac.1}}</td>
          <td rowspan="4" width="70%" valign="top">
            <p align="center">Описание:</p>
            <p style="text-align: left; margin: 0px 10px 10px 20px;">&nbsp; &nbsp; &nbsp; {{vac.2}}</p>
          </td>
        </tr>
        <tr>
          <td>Компания:&nbsp; {{vac.3}}</td>
        </tr>
        <tr>
          <td>Название региона:&nbsp; {{vac.4}}</td>
        </tr>
        <tr>
          <td>Навыки:&nbsp; {{vac.5}}</td>
        </tr>
        <tr>
          <td colspan="2" height="30">Дата публикации:&nbsp; {{vac.6}}</td>
        </tr>
      </table>
    <p></br></p>
    {% endfor %}
  </main>
  <footer style="margin-left: 250px;">
    <div style="font-size: 20px;">Студент: Ребак Анна Дмитриевна</div>
    <div style="font-size: 20px;">Группа: РИ-220931</div>
  </footer>
</body>
</html>