<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Навыки</title>
</head>
<body>
  <header style="margin-left: 250px; font-size:20px;">
      <h1 style="position: relative;" align="center">Профессия Android-разработчик / Навыки</h1>
  </header>
  <nav>
    <ul style="position: fixed; height: 100%; background: #E6E6FA; top:-15px; left: 0; width: 200px;">
      <p></p>
      <li><a href="index.html" style="font-size: 20px; ">Главная</a></li>
      <li><a href="importance.html" style="font-size: 20px; ">Востребованность</a></li>
      <li><a href="geography.html" style="font-size: 20px">География</a></li>
      <li><a href="skills.html" style="font-size: 20px">Навыки</a></li>
      <li><a href="spinner.html" style="font-size: 20px">Последние вакансии</a></li>
      <li style="position: absolute; left: 10; bottom: 0; height: 50px;"><a href="about.html" style="font-size: 20px">Об авторе</a></li>
    </ul>
  </nav>
  <main style="margin-left:250px; font-size:20px;">
    {% for mod in VisualDateSkills %}
      <h2 style="text-align: center;">{{ mod.title }}</h2>
      <div style="padding-bottom: 150px; text-align:center;">
      <table border="1" width="500" align="left"  style="text-align: center;">
        <tbody>
          {% for row in mod.get_array %}
            <tr>
              {% for item in row %}
                <th width="50%">{{item}}</th>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <img src="{{ mod.image.url }}" style="position: relative;"/>
      </div>
    {% endfor %}
    {% for mod in AnimatedSkills %}
      <h2 style="text-align: center;">{{ mod.title }}</h2>
      <img src="{{ mod.image.url }}" style="align: center;"/>
    {% endfor %}
  </main>
  <footer style="margin-left: 250px;">
    <div style="font-size: 20px;">Студент: Ребак Анна Дмитриевна</div>
    <div style="font-size: 20px;">Группа: РИ-220931</div>
  </footer>
</body>
</html>